body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0 auto;
  font-size: 62.5%;
  background-color: #272727;
  /* border: 1px solid grey; */
}
nav,
ul,
li,
a,
.icon,
.logo,
.tagline,
p,
.genres,
.button-container,
h2,
h3 {
  background-color: transparent;
}
nav:hover,
.icon:hover,
.logo:hover,
button:hover,
.discover-item:hover {
  cursor: pointer;
}
html {
  /* background-image: linear-gradient(black, #272727, black);  */
  /* background-image: linear-gradient(#272727, black, #272727);  */
  background-color: rgb(19, 18, 18);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
}
.wrapper {
  width: 100vw;
  height: 100%;
  line-height: 1.5;
  box-sizing: border-box;
  background-color: #272727;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  height: 5vh;
  position: fixed;
  z-index: 3;
  top: 0;
  background-color: rgb(29, 29, 29);
  color: #f2f2f7;
  user-select: none;
}
.logo {
  font-size: 2rem;
  text-shadow: 0 0 6px lavender;
  margin-left: 1%;
  width: 50px;
}
.tagline {
  font-size: 1.2rem;
  text-align: left;
}
header nav {
  width: 200px;
  margin-right: 1%;
}
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.icon {
  width: 20px;
  height: 20px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
/* .activated-icon {
  -webkit-filter: invert(33%);
        filter: invert(33%);
} */
a:hover {
  color: grey;
}
li {
  display: flex;
  justify-content: center;
}
input,
select {
  font-size: 1.6rem;
  height: 30px;
  border-radius: 2px;
  color: lavender;
  border: none;
  background-color: transparent;
  -webkit-animation: fadein 1.618s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.618s; /* Firefox < 16 */
  -ms-animation: fadein 1.618s; /* Internet Explorer */
  -o-animation: fadein 1.618s; /* Opera < 12.1 */
  animation: fadein 1.618s;
}
input:focus,
select:focus {
  background-color: rgb(223, 226, 242, 0.3);
  outline-color: rgb(168, 168, 192);
}
input::placeholder {
  color: rgba(255, 255, 255, 0.618);
}
button {
  background-color: rgba(46, 46, 46, 0.86);
  color: snow;
  border-radius: 3px;
}
.round-button {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  border: 1px solid lavender;
  margin-top: 3%;
  font-size: 1.3rem;
}
.round-button:hover {
  box-shadow: 0 0 9px inset rgb(131, 131, 143);
}
.page {
  margin-top: 5vh;
  width: 100vw;
  -webkit-animation: fadein 1.618s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.618s; /* Firefox < 16 */
  -ms-animation: fadein 1.618s; /* Internet Explorer */
  -o-animation: fadein 1.618s; /* Opera < 12.1 */
  animation: fadein 1.618s;
}
.nav-bar {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.86);
  display: flex;
  align-items: center;
  position: fixed;
  height: 5vh;
  z-index: 2;
}
/* ---------HOME----------- */
.home {
  background-color: black;
}
.home .nav-bar {
  justify-content: flex-start;
}

.nav-bar button,
.navlink {
  margin: 1%;
  font-size: 1.3rem;
  height: 4vh;
  -webkit-animation: fadein 1.618s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.618s; /* Firefox < 16 */
  -ms-animation: fadein 1.618s; /* Internet Explorer */
  -o-animation: fadein 1.618s; /* Opera < 12.1 */
  animation: fadein 1.618s;
}
.activated {
  background-color: rgba(226, 25, 25, 0.618);
}
.discover {
  position: absolute;
  margin-top: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* ---------SEARCH----------- */
.search {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.search form {
  width: 100vw;
  display: flex;
  position: fixed;
  background-color: transparent;
}
input:focus,
select:focus {
  background-color: transparent;
}
.search .nav-bar {
  justify-content: center;
}
.results {
  margin-top: 3vh;
  width: 60%;
}
.item {
  color: snow;
  display: flex;
  border-bottom: 1.68px solid black;
  width: 100%;
}
.item .text {
  width: 100%;
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #1d1d1d;
}
.item .poster {
  width: 150px;
  height: 225px;
}
.item img {
  width: 150px;
  height: 225px;
}
.item p {
  margin: 1% 0;
}
.item h2 {
  font-size: 2rem;
}
.item .button-container {
  display: flex;
  justify-content: center;
  width: 50%;
}
.item .button-container button {
  padding: 2%;
  margin: 2%;
}
/* ---------ITEM-DETAILS----------- */
.item-details {
  color: snow;
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
  width: 68vw;
  height: 100vh;
  align-items: center;
  background-color: #161616;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}
.item-details h2 {
  font-size: 2rem;
  margin-top: 2%;
}
.item-details h3,
p {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.68px;
}
.backdrop {
  width: 68vw;
  margin: 0;
}
.item-details .text {
  display: flex;
  background-color: #1f1e1e;
}
/* heart container */
.item-details .left {
  width: 30%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
}
.item-details .center {
  width: 100%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}
/* ----together = 100% of screen------ */
.item-details .left-center {
  display: flex;
  width: 40%;
  background-color: transparent;
}
.item-details .right {
  width: 60%;
  padding: 1%;
  background-color: transparent;
}
/* ----------------------------------- */
.heart {
  width: 42px;
  height: 42px;
  text-align: center;
  background-image: url("./assets/images/favicon_io/android-chrome-192x192.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  padding: 12%;
  margin: 0;
  color: rgb(78, 38, 116);
  font-weight: bold;
  font-size: 2.6rem;
}
.genres {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.genres p {
  margin: 3%;
  font-size: 1.2rem;
}
.item-details .button-container {
  margin-top: 3%;
}
.item-details button {
  background-color: #242323;
}
/* ---------LOGIN----------- */
.login form {
  margin-top: 9vh;
  height: 66vh;
  width: 400px;
  display: flex;
  background-color: rgb(24, 24, 24);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 3px lavender;
  border-radius: 9px;
}
.login .top {
  width: 69%;
  height: 30%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.login input {
  width: 100%;
  height: 90%;
  margin: 2%;
  background-color: rgba(0, 0, 0, 0.66);
  border-radius: 6px;
  padding: 0 3%;
  font-size: 2rem;
}
.join-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}
.join-btn button {
  border-radius: 0;
  width: 60px;
  height: 30px;
  cursor: default;
}
/* ---------JOIN-------------- */
.join .top {
  height: 60%;
}
.join button {
  margin-bottom: 3%;
}
/* ---------ACCOUNT----------- */
* {
  /* border: 1px solid grey; */
}
.account {
  background-color: black;
  width: 100vw;
}
.account h2 {
  font-size: 2rem;
  color: rgb(194, 194, 219);
  padding: 1% 0;
  background-color: rgb(19, 18, 18);
}
.profile {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  color: snow;
  background-color: #1f1e1e;
  align-items: center;
}
.profile .pic {
  background-color: transparent;
}
.profile .text,
.friend .text {
  font-size: 2rem;
  padding: 3%;
  background-color: transparent;
}
.pic img {
  height: 50px;
  border-radius: 100%;
  box-shadow: 1px 1px 3px #4f4f4f;
}
.account-item {
  height: 90px;
  display: flex;
  color: snow;
  font-size: 4rem;
  align-items: center;
  border: 1px solid black;
}
.account-item .poster img,
.account-item .poster {
  height: 90px;
  margin: 0;
  border-radius: 6px;
}
.account-item .text {
  width: 30%;
}
.account-item .actions {
  width: 25%;
  text-align: center;
}
.account-item .actions button {
  margin: 2%;
}
.friends {
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.friend {
  height: 20vh;
  width: 66vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 3px lavender;
  color: snow;
}

/* ---------LOADING / ANIMATIONS----------- */
.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}
.loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #2b3135;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: spin 2s linear infinite; /* Firefox < 16 */
  -ms-animation: spin 2s linear infinite; /* Internet Explorer */
  -o-animation: spin 2s linear infinite; /* Opera < 12.1 */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ---------RESPONSIVE MEDIA----------- */
@media (max-width: 1460px) {
  .discover img {
    width: 25vw;
  }
}
/* iPad Pro */
@media (max-width: 1024px) {
  .discover img {
    width: 33vw;
  }
  .nav-bar {
    height: 36px;
  }
}
/* iPad */
@media (max-width: 768px) {
  .results,
  .backdrop,
  .item-details {
    width: 100vw;
  }
}
@media (max-width: 600px) {
  .item,
  .results {
    width: 100vw;
  }
  .tagline {
    font-size: 0.7rem;
  }
}

/* iPhone 6/7/8 Plus */
@media (max-width: 414px) {
  .item-details .text {
    flex-direction: column;
    font-size: 1rem;
    padding: 0;
  }
  .item-details .left-center,
  .item-details .right {
    width: 100vw;
  }
  .backdrop {
    margin-top: 0;
  }
  .discover img {
    width: 50vw;
  }
}
/* iPhone 6/7/8/X */
@media (max-width: 375px) {
  .item-details p {
    padding: 2%;
  }
  .item-details .button-container {
    margin: 2%;
  }
  .item-details button {
    width: 50%;
    margin: 1%;
  }
  .login form {
    width: 96vw;
  }
  .heart {
    font-size: 2rem;
  }
}
/* Moto G4, Galaxy s5 */
@media (max-width: 360px) {
}
/* iPhone 5/se */
@media (max-width: 320px) {
}
/* Galaxy Fold */
@media (max-width: 280px) {
}
