body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  line-height: 1.5;
  margin: 0 auto;
  font-size: 62.5%;
  /* border: 1px dotted red; */
}
.wrapper {
  width: 100vh;
  height: 100vh;
  background-color: #f2f2f7;
  display: flex;
  flex-direction: column;
}
.routes { margin-top: 18vh }
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vh;
  height: 15%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgba(46, 46, 46);
  color: #f2f2f7;
  user-select: none;
}
h1 { font-size: 2rem; color: lavender; }
header p { font-size: 1.2rem }
nav {
  box-shadow: 0 0 6px inset rgb(143, 143, 143);
  border-radius: 2px;
  padding: 0 3%;
  margin-top: 1%;
  background-color: #1b1b1c;
  background-color: #d8d8e8;
  width: 250px;
}
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: lavender;
  background-color: transparent;
  font-size: 1.6rem;
  padding: 2% 10%;
  margin: 0 10px;
}
a:hover { color: grey }
li { display: flex; justify-content: center; }

input, select {
  font-size: 1.6rem;
  height: 30px;
  color: #4f4f4f;
  border-radius: 2px;
  border: 1px solid lightgrey;
  outline: none;
  box-shadow: 0 0 5px inset lightgrey;
}
button {
  background-color: rgba(46, 46, 46, .86);
  color: snow;
  border-radius: 3px;
}
.icon { width: 20px; height: auto; }
/* ---------SEARCH----------- */
.search {
  /* color: #4f4f4f; */
  display: flex;
  flex-direction: column;
  background-color: #f2f2f7;
  width: 100vw;
}
.search form {
  margin-bottom: 5%;
  margin-top: 18vh;
  width: 96vh;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.search input { width: 50%; }
.results {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.item img { width: 175px; height: 250px; }
.item {
  width: 100%;
  display: flex;
  margin-bottom: 1%;
  box-shadow: 1px 1px 3px black;
  background-color: #e9e9f2;
}
.item .text {
  padding: 2% 4%;
  font-size: 2rem;
  width: 75%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  user-select: none;
}
.overview {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item p { margin: 3% 0 }
.button-container { width: 100%; display: flex; }
.button-container button { font-size: 1.2rem }
/* ---------ITEM-DETAILS----------- */
.item-details {
  background-color: rgba(46, 46, 46);
  color: snow;
  width: 96vw;
  height: auto;
  box-shadow: 1px 1px 3px black;
  padding: 1%;
  border-radius: 2%;
  display: flex;
  flex-direction: column;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.item-details h2 { font-size: 1.6rem }
.backdrop { border-radius: 2% }
.item-details .text { display: flex; padding: 0 2%; }
.item-details .left { 
  width: 40%; 
  border-right: 1px solid lavender;
  padding: 1%;

}
.item-details .right { width: 60%; padding: 1% }
.left .genres { display: flex; flex-wrap: wrap }
/* ---------LOGIN----------- */
.login {
  margin-top: 10%;
  width: 350px;
  height: 250px;
  background-color: rgba(46, 46, 46, .9);
  box-shadow: 2px 2px 2px black;
  border-radius: 2px;
}
.login form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}
.login input { 
  width: 85%;
  height: 30%;
  font-size: 5rem;
  text-align: center;
 }
.login input::placeholder { color: lightgrey; text-align: center; }
input:focus { background-color: lavender }
.login button {
  margin-top: 3%;
  font-size: 1.2rem;
  height: 50px;
  width: 100px;
}
/* ---------ACCOUNT----------- */
.account {
  width: 100vw;
}
.profile, .friend {
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 3px black;
  padding: 0 3%;
}
.friend { background-color: lightgrey; margin-bottom: 1%; }
.profile .text,
.friend .text { padding: 3%; width: 200px; }
.pic img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 1px 1px 3px #4f4f4f;
}
.profile span { width: 10px }
.friends { width: 100vw }
/* ---------LOADING----------- */
.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16%;
}

.loading {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #2b3135;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: spin 2s linear infinite; /* Firefox < 16 */
   -ms-animation: spin 2s linear infinite; /* Internet Explorer */
    -o-animation: spin 2s linear infinite; /* Opera < 12.1 */
       animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}